[user]
	name = Til Goepfert

[core]
	excludesfile = ~/.gitignore_global

[alias]
	cached = diff --cached
	hardhat = reset --hard HEAD # GET YOUR HELMETS :D
	last = log -1 --stat
	stat = status -sb
	unstage = reset HEAD --

[color]
	ui = auto

[init]
	defaultBranch = main
  
